<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>&lt;key&gt;UIAppFonts&lt;/key&gt;
&lt;array&gt;
    &lt;string&gt;Montserrat-Regular.ttf&lt;/string&gt;
    &lt;string&gt;Montserrat-Bold.ttf&lt;/string&gt;
    &lt;string&gt;Montserrat-Medium.ttf&lt;/string&gt;
    &lt;string&gt;Montserrat-SemiBold.ttf&lt;/string&gt;
&lt;/array&gt;</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
